html, body {
    height: 100%;
    overflow: hidden; 
}

.content-scrollable {
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    scrollbar-width: thin;
    padding-bottom: 20px;
}

.content-scrollable::-webkit-scrollbar {
    width: 6px;
}

.content-scrollable::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}

.dropdown-menu {
    border-radius: 1rem;
    font-size: 0.9rem;
}
.dropdown-header {
    font-size: 1rem;
    font-weight: 600;
}
